@font-face {
  font-family: "DS-Digital";
  src: url("../fonts/DS-DIGIB.TTF") format("truetype");
}

html,
body {
    height: 100%;
    background-color: white;
}

* {
    margin: 0;
    padding: 0;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;background-color: white;
    color: black;
}

.clock-container {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 5px 19px rgb(167, 164, 164);
}

.todayDate{
    font-size: 20px;
}
.time{
    font-size: 70px;font-family: 'DS-Digital', monospace;
}
.day-of-week{
    font-size: 18px;
}

.time-container{
    display: flex;
    position: relative;
    gap: 10px;
    
}

#ampm{
    position: absolute;
    right: -30px;bottom: 10px;
}

#second {
    height: 35px;
    width: 35px;
    text-align: center;
    font-size: 30px;
    border: 1px dashed blue;
    padding: 10px;
    border-radius: 50%;
    font-family: 'DS-Digital', monospace;
}



@media (max-width:500px) {
    .clock-container{
        width: 300px;
        height: 300px;
    }
}