html,
body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.clock-container {
    width: 400px;
    height: 400px;
    /* border: 1px solid red; */
    border-radius: 50%;
    display: flex;justify-content: center;align-items: center;
    flex-direction: column;gap: 10px;
    box-shadow: 0px 5px 19px rgb(167, 164, 164);
}